body{

    background-color:#7b300f;

}

nav{

    top:0;
    left:0;
    background-color:#fffdd0;
    height:50px;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    z-index:1000;

}

footer{

    position:absolute;
    bottom:0;
    width:100%;


}

