nav{

    position:fixed;
    top:0;
    left:0;
    background-color:#fffdd0;
    height:50px;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    z-index:1000;

}

#twitter{

    border:2px white;
    border-radius:1000px;

}