/* FOR THE NAVBAR */
.navbar a{
  color:black;
  text-decoration: none;
  font-family: 'Gorditas', cursive;
  font-size:15px
}
nav{
background-color: #89CFF0!important;
}
.navbar a:hover{
  color:white;
}
.navbar-brand{
background-image: url('../images/heart.png');
background-repeat: no-repeat;
background-position: center;
font-family: 'Fredoka One', cursive;
border:white double 7px;
color: black !important;
font-size: 18px !important;
}

.navbar{
  background-image:url('../assests/Bones.png') !important;
  background-size: cover;
}
/* CONTENT */
h1{
  font-family: 'Diplomata SC', cursive;
  color:gray;
}
/* FOR THE FOOTER */


footer{
background-color: #89CFF0 !important;
}

footer .nav-link{
color:black !important;
font-size: small;
font-family: 'Fredoka One', cursive;
}

footer .nav-link:hover{
color:blue !important;
}

footer h5{
font-family: 'Gorditas', cursive;
font-size:15px;
border:white double 7px;
}

footer .form-label{
font-family: 'Gorditas', cursive;
font-size:15px
}

.quote{
text-align:left;
padding-bottom:12px;
padding-left:12px;
font-size: small;
}